# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next
out
build
dist

# Production
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode
.idea

# Turborepo
.turbo

# Hardhat
packages/contracts/artifacts
packages/contracts/cache
packages/contracts/dist

# Expo
apps/mobile/.expo
apps/mobile/ios
apps/mobile/android

# Electron build output
apps/desktop/dist
